body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f6f8fa;
}

.tracker-container {
  text-align: center;
  max-width: 100%;
}

#month-year {
  font-size: 24px;
  margin-bottom: 10px;
}

.weekdays span {
  display: inline-block;
  width: calc(100% / 7);
  font-weight: bold;
}

#days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-bottom: 10px;
}

.day {
  padding-bottom: calc(100% / 7); /* This creates a square aspect ratio */
  background-color: #ebedf0;
  position: relative;
}

/* This pseudo-element helps to keep the square aspect ratio */
.day:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.day.checked {
  background-color: #9be9a8;
}

.day.current {
  border: 2px solid #216e39; /* Highlight the current day */
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.color-box {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.light {
  background-color: #9be9a8;
}

.medium {
  background-color: #40c463;
}

.dark {
  background-color: #30a14e;
}
